<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Change Admin Password</title>
</head>
<body>
    <form action="change_password" method="post">
		<h2 align="center">Change Admin Password</h2>
		<hr />
		<table align="center">
			<tr>
				<td>Username:<td>
				<td><input type="text" name="username" value="admin" disabled/><td>
			</tr>
			<tr>
				<td>Password:<td>
				<td><input type="password" name="password"/><td>
				<td align="center"><input type="submit" name="Login" value="Update"/><td>
			</tr>
			<tr></tr>
			<tr>
				<td><a href="adminHome">Back</a> to admin home</td>
			</tr>
		</table>
	</form>
</body>
</html>