<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
    <form action="register_user" method="post">
		<h2 align="center">SportyShoes Register</h2>
		<hr />
		<table align="center">
			<tr>
				<td><a href="/">Back</a> to user login</td>
			</tr>
			<tr></tr>
			<tr>
				<td>Username:<td>
				<td><input type="text" name="username"/><td>
			</tr>
			<tr>
				<td>First Name:<td>
				<td><input type="text" name="firstName"/><td>
			</tr>
			<tr>
				<td>Last Name:<td>
				<td><input type="text" name="lastName"/><td>
			</tr>
			<tr>
				<td>Email:<td>
				<td><input type="text" name="email"/><td>
			</tr>
			<tr>
				<td>Phone:<td>
				<td><input type="text" name="phoneNumber"/><td>
			</tr>
			<tr>
				<td>Address Line 1:<td>
				<td><input type="text" name="line1"/><td>
			</tr>
			<tr>
				<td>Address Line 2:<td>
				<td><input type="text" name="line2"/><td>
			</tr>
			<tr>
				<td>City:<td>
				<td><input type="text" name="city"/><td>
			</tr>
			<tr>
				<td>State:<td>
				<td><input type="text" name="state"/><td>
			</tr>
			<tr>
				<td>Country:<td>
				<td><input type="text" name="country"/><td>
			</tr>
			<tr>
				<td>Postal Code:<td>
				<td><input type="text" name="postalCode"/><td>
			</tr>
			<tr>
				<td>Password:<td>
				<td><input type="password" name="password"/><td>
				<td align="center"><input type="submit" name="Register" value="Register"/><td>
			</tr>
		</table>
	</form>
</body>
</html>